# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/build
/win32/.vs
/win32/log
/win32/x64
/win32/Debug
/win32/XServer.dir
/win32/CMakeFiles
/win32/cmake_install.cmake
/win32/CMakeCache.txt
/win32/CMakeFiles
/linux/CMakeFiles
/linux/cmake_install.cmake
/linux/CMakeCache.txt
/linux/XServer
